.summary {
  display: flex;

  //justify-content: center;
  margin: 0 10em;
}

.checkout-item {
  justify-content: center;
  //width: 70%;
  display: flex;
  border-bottom: 1px solid darkgrey;
  margin: 0 4.5em;
  font-size: 20px;
  align-items: center;

  .image-container {
    width: 23%;
    padding-right: 15px;

    img {
      width: 100%;
      height: 50%;
    }
  }
  .name,
  .quantity,
  .price {
    width: 23%;
  }

  .quantity {
    padding-left: 40px;
    display: flex;

    .arrow {
      cursor: pointer;
    }

    .value {
      margin: 0 10px;
    }
  }
}
.product {
  .tit {
    display: flex;
    justify-content: center;
  }
}
.link_hist {
  text-decoration: none;
  color: black;
}

@media screen and (max-width: 800px) {
  .summary {
    display: flex;
    flex-direction: column-reverse;
    margin: 0;
  }
  .checkout-item {
    padding: 0.5em 2.5em;
    margin: 0;
  }
}
