.filterw {
  width: 14vw;
}
.Filter {
  //display: flex;
  margin: 1em;
}
.btn {
  margin-right: auto;
  margin-left: auto;
  padding: 0.2rem;
}
.MuiButtonBase-root {
  width: 100%;
  margin: 0.3rem !important;
  padding: 0.3rem;
}
h2 {
  text-align: center;
}
@media screen and (max-width: 800px) {
  .filterw {
    width: 38vw;
  }
}
