.filterw {
  width: 20%;
}
.Filter {
  //display: flex;
  margin: 1em;
}
.btn {
  margin: 0.5em !important;
  width: 100%;
}
h2 {
  text-align: center;
}
@media screen and (max-width: 800px) {
  .filterw {
    width: 45%;
  }
}
