.header {
  background-color: rgba(192, 192, 192, 0.7);
  height: 5em;
  display: flex;
  position: sticky;
  display: flex;
  justify-content: space-evenly;
  top: 0;
  z-index: 100;

  .personal {
    display: flex;
  }
  .logo {
    object-fit: contain;
    height: 5em;
  }
  .SearchBar {
    display: flex;
    padding-top: 0.6em;
  }

  .cart-icon {
    margin: 1em;
    width: 37px;
    background-color: rgba(255, 255, 255, 0.8);
    height: 45px;
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    .shop-icon {
      width: 24px;
      height: 24px;
    }
  }
}
.link {
  padding: 25px 20px 10px 20px;
  text-decoration: none;
  font-style: italic;
  font-weight: bold;
  color: black;
}
.cart-icon .item-count {
  position: absolute;
  font-size: 10px;
  font-weight: 700;
  bottom: 12px;
}

@media screen and (max-width: 800px) {
  .input {
    width: 35%;
  }
  .logo {
    padding: 0px;
    //width: 80px;
  }
  .amz {
    //width: 24%;
  }
  .header {
    padding: 0px;
  }
  .link {
    padding: 0px;
    font-weight: 700;
    padding-top: 1em;
    border: 0.1px solid grey;
  }
  .auth {
    padding: 0px;
  }
}
