.banner {
  background-color: black;
}
.banner_img {
  width: 100%;
  mask-image: linear-gradient(180deg, #27242436, transparent);
  z-index: -1;
  margin-bottom: -40em;
}

@media screen and (max-width: 800px) {
  .banner_img {
    margin-bottom: -85px;
  }
}
